[Unit]
Description=flicSmartThingsService
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/home/gouldner/FlicSmartThingsInterfaceServer/startFlicSmartInterface.sh
WorkingDirectory=/home/gouldner/FlicSmartThingsInterfaceServer
User=gouldner
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
